html.no-js

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Admin
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Klok en Prins de Huisuitruimers helpen u een helpen de hand bij het uitruimen van een woning')
    meta(name='keywords', content='Huisuitruimers, Haarlem, huisoperuimers, verhuizen, Prins, Klok')
    meta(name='Ilana Enderman')
   
    //- Facebook and Twitter integration
    meta(property='og:title', content='')
    meta(property='og:image', content='')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:url', content='')
    meta(name='twitter:card', content='')
    
    //- icons
    link(rel='shortcut icon', href='favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700', rel='stylesheet')
    
    //- Animate.css
    link(rel='stylesheet', href='css/animate.css')
    //- Icomoon Icon Fonts
    link(rel='stylesheet', href='css/icomoon.css')
    //- Simple Line Icons
    link(rel='stylesheet', href='css/simple-line-icons.css')
    //- Bootstrap
    link(rel='stylesheet', href='css/bootstrap.css')
    //- Theme style
    link(rel='stylesheet', href='css/style.css')
    //- Modernizr JS
    script(src='js/modernizr-2.6.2.min.js')
    //- FOR IE9 below
    //-if lt IE 9
      script(src='js/respond.min.js')
  body
    #fh5co-page
      header#fh5co-header(role='banner')
        .container
          .header-inner
            h1
              a(href='/')
                img#logo(src='images/logo.png') 
            nav(role='navigation')
              ul
                li
                  a(href='/') Home
                li
                  a(href='/services') Onze diensten
                li
                  a(href='/about') Wie zijn wij?
                li
                  a(href='/news') Nieuws
                li
                  a(href='/contact') Contact
                li
                  a.active(href='/admin') Admin
                li
                  a(href='/logout') Log uit
      
      
      div#fh5co-intro-section
        div.container
          div.row
            div.col-md-8.col-md-offset-2.text-center
              h2 Maak nieuwsitem
          div.row
            form(action='/createArticle' method='post' enctype='multipart/form-data' autocomplete='off')
              div.col-md-6
                div.row
                  div.col-md-12
                    div.form-group
                      input.form-control(name='title' placeholder='Titel' type='text'
                      required) 
                  div.col-md-12
                    div.form-group
                      input.form-control(name='date' placeholder='Datum' type='string' required)
                  div.col-md-12
                    div.form-group
                      input.form-control(name='image' placeholder='Foto' type='file'
                      required)
              div.col-md-6
                div.row
                  div.col-md-12
                    div.form-group
                      textarea.form-control(name='body' placeholder='Bericht' cols='30' rows='7' required)
              div.col-md-12
                div.form-group
                  input#button3.btn.btn-primary(value='Maak aan' type='submit')

      #fh5co-blog-section
        .container
          .row
            .col-md-6.col-md-offset-3.text-center.fh5co-heading
              h2 Overzicht nieuwsberichten
          .row
          - news.sort(function(a,b){
            - return b.id - a.id
          - })
          each thing in news
            .col-md-4.col-lg-3.col-sm-6.text-center
              .blog-inner
                a(href='#')
                  img.img-responsiveNews(src= thing.image alt='Blog')
                .descNews
                  h3.news
                    b #{thing.title}
                  h5 #{thing.date}

                .desc
                  form(method='post' action='/goToArticle')
                    button.btn.btn-primary.btn-outline(type='submit' href='/goToArticle' value= thing.id name='ID') Update

      footer#fh5co-footer(role='contentinfo')
        .col-md-4.col-md-push-2.col-sm-4.col-xs-12.col-xs-push-0
          h3 Contact
          ul.float
            li
              a(href="mailto:info@dehuisuitruimers.nl") info@dehuisuitruimers.nl
            li
              a(href="tel:+31626340259") Ruud Klok 06 - 26 34 02 59
            li
              a(href="tel:+31627169502") Erwin Prins 06 - 27 16 95 02

        .col-md-3.col-sm-5.col-xs-12.col-xs-push-0
          h3 In samenwerking met
          ul.float
            li
              a(href='http://rataplan.nl/') RataPlan
            li
              a(href='https://www.reshare.nl/') ReShare
            li
              a(href='http://www.its-your-finance.nl/') It's Your Finance
          
        .col-md-2.col-sm-3.col-xs-12.col-xs-push-0
          h3 Volg ons op
          ul.fh5co-social
            li
              a(href='https://twitter.com/huisuitruimers')
                i.icon-twitter
                |  Twitter
            li
              a(href='https://www.facebook.com/DeHuisuitruimers/?fref=ts')
                i.icon-facebook
                |  Facebook
            li
              a(href='https://www.instagram.com/dehuisuitruimers/')
                i.icon-instagram
                |  Instagra5
        .col-md-12.fh5co-copyright.text-center
          p#copyrightText
            | © 2017 Klok & Prins De Huisuitruimers
            span
              | Ontworpen door 
              a(href='http://ilanaenderman.com/', target='_blank') Ilana Enderman
    // jQuery
    script(src='js/jquery.min.js')
    // jQuery Easing
    script(src='js/jquery.easing.1.3.js')
    // Bootstrap
    script(src='js/bootstrap.min.js')
    // Waypoints
    script(src='js/jquery.waypoints.min.js')
    // MAIN JS
    script(src='js/main.js')
