html.no-js

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Home Klok en Prins de Huisuitruimers
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Klok en Prins de Huisuitruimers')
    meta(name='keywords', content='Huisuitruimers, Haarlem, huisoperuimers, verhuizen, Prins, Klok')
    meta(name='Ilana Enderman')
   
    //- Facebook and Twitter integration
    meta(property='og:title', content='')
    meta(property='og:image', content='')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:url', content='')
    meta(name='twitter:card', content='')
    
    //- icons
    link(rel='shortcut icon', href='favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700', rel='stylesheet')
    
    //- Animate.css
    link(rel='stylesheet', href='css/animate.css')
    //- Icomoon Icon Fonts
    link(rel='stylesheet', href='css/icomoon.css')
    //- Simple Line Icons
    link(rel='stylesheet', href='css/simple-line-icons.css')
    //- Bootstrap
    link(rel='stylesheet', href='css/bootstrap.css')
    //- Theme style
    link(rel='stylesheet', href='css/style.css')
    //- Modernizr JS
    script(src='js/modernizr-2.6.2.min.js')
    //- FOR IE9 below
    //-if lt IE 9
      script(src='js/respond.min.js')
  body
    #fh5co-page
      header#fh5co-header(role='banner')
        .container
          .header-inner
            h1
              a(href='home.html')
                img#logo(src='images/logo.png') 
            nav(role='navigation')
              ul
                li
                  a.active(href='/') Home
                li
                  a(href='/services') Onze diensten
                li
                  a(href='/about') Wie zijn wij?
                li
                  a(href='/news') Nieuws
                li
                  a(href='/contact') Contact
      
      
      #fh5co-intro-section
        .container
          .row
            .col-md-3.text-center
              .blog-inner
                a(href='#')
                  img.img-responsive(src='images/image_4.jpg', alt='Blog')
                .desc
                  h3
                    b Onze diensten
                  p
                    | Wij ontzorgen niet alleen bij het leeghalen van een woning, bedrijf of garage maar wij gaan een stap verder
                  p
                    a.btn.btn-primary.btn-outline.with-arrow(href='#')
                      | Lees meer
                      i.icon-arrow-right
            .col-md-3.text-center
              .blog-inner
                a(href='#')
                  img.img-responsive(src='images/image_5.jpg', alt='Blog')
                .desc
                  h3
                    b Wie zijn wij?
                  p
                    | Persoonlijkheid en vakkundigheid staan bij ons hoog in het vaandel. Wij stellen ons graag aan u voor.
                  p
                    a.btn.btn-primary.btn-outline.with-arrow(href='#')
                      | Lees meer
                      i.icon-arrow-right
            .col-md-3.text-center
              .blog-inner
                a(href='#')
                  img.img-responsive(src='images/image_6.jpg', alt='Blog')
                .desc
                  h3
                    b Contact
                  p
                    | Kunnen wij een offerte voor u opmaken of wilt u meer informatie? Neem gerust contact met ons op.
                  p
                    a.btn.btn-primary.btn-outline.with-arrow(href='#')
                      | Lees meer
                      i.icon-arrow-right
            .col-md-3.text-center
              .blog-inner
                a(href='#')
                  img.img-responsive(src='images/image_6.jpg', alt='Blog')
                .desc
                  h3
                    b Nieuws
                  p
                    | Laatste nieuws over ons bedrijf en alle doelen die wij steunen in Haarlem en omgeving. 
                  p
                    a.btn.btn-primary.btn-outline.with-arrow(href='#')
                      | Lees meer
                      i.icon-arrow-right
      
      footer#fh5co-footer(role='contentinfo')
        .container
          .col-md-3.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0
            h3 About Us
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          .col-md-6.col-md-push-1.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0
            h3 Our Services
            ul.float
              li
                a(href='#') Web Design
              li
                a(href='#') Branding & Identity
              li
                a(href='#') Free HTML5
              li
                a(href='#') HandCrafted Templates
            ul.float
              li
                a(href='#') Free Bootstrap Template
              li
                a(href='#') Free HTML5 Template
              li
                a(href='#') Free HTML5 & CSS3 Template
              li
                a(href='#') HandCrafted Templates
          .col-md-2.col-md-push-1.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0
            h3 Follow Us
            ul.fh5co-social
              li
                a(href='#')
                  i.icon-twitter
                  |  Twitter
              li
                a(href='#')
                  i.icon-facebook
                  |  Facebook
              li
                a(href='#')
                  i.icon-google-plus
                  |  Google Plus
              li
                a(href='#')
                  i.icon-instagram
                  |  Instagram
          .col-md-12.fh5co-copyright.text-center
            p
              | © 2016 Free HTML5 template. All Rights Reserved. 
              span
                | Designed with 
                i.icon-heart
                |  by 
                a(href='http://freehtml5.co/', target='_blank') FreeHTML5.co
                |  Demo Images by 
                a(href='http://unsplash.com/', target='_blank') Unsplash
    // jQuery
    script(src='js/jquery.min.js')
    // jQuery Easing
    script(src='js/jquery.easing.1.3.js')
    // Bootstrap
    script(src='js/bootstrap.min.js')
    // Waypoints
    script(src='js/jquery.waypoints.min.js')
    // MAIN JS
    script(src='js/main.js')
